body {
    background-color: #121212;
    font-family: 'Arial', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    width: 500px;
}

#gameCanvas {
    background-color: #1a1a1a;
    border: 1px solid #333;
}

#game-info {
    font-size: 20px;
}

.red-icon {
    color: red;
}

#game-over {
    color: red;
    font-weight: bold;
}

/* Controls for mobile devices */
#mobile-controls {
    position: fixed;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

#vertical-controls,
#horizontal-controls {
    display: flex;
    flex-direction: column;
}

#vertical-controls button,
#horizontal-controls button {
    background-color: #333;
    color: white;
    font-size: 24px;
    border: none;
    padding: 20px;
    margin: 10px;
    cursor: pointer;
}

#vertical-controls button:hover,
#horizontal-controls button:hover {
    background-color: #555;
}

#vertical-controls {
    /* Place controls on the left side */
    align-items: center;
}

#horizontal-controls {
    /* Place controls on the right side */
    align-items: center;
}
